.Pag-container {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

.Pag-page {
    display: inline-block;
    margin: 5px;
    border: 1px solid;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.Pag-page:hover {
    color: red;
}

.Pag-select {
    display: inline-block;
    color: red;
}

.Pag-omitted {
    border: none;
    font-size: 30px;
}
