.T-container {
    width: 200px;
    margin: auto;
    list-style: none;
    text-align: left;
    transition: .3s;
    overflow: hidden;
}

.T-item {
    margin: 5px;
    position: relative;
    padding-left: 15px;
}

.T-checkbox {
    position: absolute;
    left: 0;
    line-height: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.T-text:hover {
    background-color: #e6f7ff;
}