.T-container {
    width: 200px;
    margin: auto;
    list-style: none;
    text-align: left;
}

.T-item {
    margin: 5px;
    position: relative;
    padding-left: 23px;
}

.T-checkbox {
    position: absolute;
    left: 0;
    line-height: 15px;
    width: 15px;
    height: 15px;
    border: 1px solid;
}

.T-checkbox > .fa-check {
    display: none;
}

input:checked + .T-checkbox {

}

input:checked + .T-checkbox > .fa-check {
    display: inline;
}